.products{
    width: 100%;
    margin-bottom: 30px;

    @include md{
        width: calc(100% - 200px);
        margin-bottom: 40px;
    }

    @include lg{
        width: calc(100% - 330px);
        margin-bottom: 60px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        margin: 30px 0;

        @include sm{
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 100px;
            grid-row-gap: 60px;
            margin: 60px 0;
        }
    }    
}